* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* index page */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    background: #e1e1e2;
    box-shadow: 0 5px 15px rgba(82, 81, 81, 0.6);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    height: 60px;
}

.logo {
    height: 100px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar li {
    list-style-type: none;
    padding: 0 20px;
    position: relative;
}

.navbar li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: #1a1a1a;
    transition: 0.5s;
}

.navbar li a:hover,
.navbar li a.active {
    color: #088178;

}
.navbar li a.active::after,
.navbar li a:hover::after{
    content: "";
    width: 40%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -2px;
    left: 50%;
    Transform: translate(-50%, -50%);
   
    
}


/* #mobile{
    display: none;
    align-items: center;
} */

.hero {
    background-image: url(/image/index\ pages\ image.webp);
    height: 89vh;
    width: 98.3%;
    background-size: cover;
    background-position: top 25% right 0;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

.hero h4 {
    padding: 10px;
    font-size: 20px;
}

.hero h1 {
    padding: 5px;
    font-size: 48px;
    color: rgb(14, 113, 113);
}

.hero p {
    padding: 4px;
    font-size: 20px;
}

.hero button {
    padding: 10px;
    background: rgb(237, 89, 26);
    border-radius: 15px;
    width: 120px;
    transition: 0.5s;
    border: none;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-left: 40px;
}

.hero button:hover {
    background-color: darkgrey;

}

.section-p1 {
    padding: 0 40px;
}

#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

#feature .fe-box {
    width: 130px;
    text-align: center;
    padding: 15px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.08);
    border: 1px solid #cce7d0;
    border-radius: 10px;
    transition: 0.5s;
}

#feature .fe-box:hover {
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.3);
}

#feature .fe-box h6 {
    display: inline-block;
    padding: 12px;
    padding-right: 10px;
    line-height: 1;
    border-radius: 10px;
    color: rgb(47, 75, 3);
    font-size: 15px;
}

#product1 {
    text-align: center;
}

#product1 .pro {
    width: 23%;
    min-width: 200px;
    padding: 1px 1px;
    border: 1px solid #cce7d0;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 10px 0;
    transition: 0.8s;
    position: relative;
}

#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.1);
    transform: translateY(-3px);
}

#product1 .pro img {
    width: 90%;
    border-radius: 20px;
}

#product1 .pro .dis {
    text-align: start;
    padding: 10px 10px;
}

#product1 .pro .dis span {
    color: #606063;
    font-size: 12px;
}

#product1 .pro .dis h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 15px;
}

#product1 .pro .dis a {
    font-size: 12px;
    color: rgb(243, 181, 25);
}

#product1 .pro .dis h4 {
    padding-top: 7px;
    font-size: 20px;
    font-weight: 900;
    color: #088178;
    display: flex;
    justify-content: space-between;

}

#product1 .pro .dis h4 button {
    border: none;
    margin: 0 20px;
    color: #fff;
    width: 30px;
    border-radius: 20px;
    transition: 0.5s;

}

#product1 .pro .dis h4 button:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
    background-color: #b7b7b9;
}

#product1 .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 h2 {
    font-size: 50px;
    font-weight: 900;
    line-height: 50px;
}

#product1 p {
    font-size: 20px;
    font-weight: 600;
    line-height: 50px;
}

.section-m1 {
    margin: 40px 0;
}

#banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url(/image/b2.jpg);
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    color: #fff;
}

#banner h4 {
    font-size: 25px;
}

#banner h1 {
    font-size: 40px;
    line-height: 80px;
}

#banner button {
    margin: 40px 0;
    width: 150px;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 30px;
    background-color: #ef5619;
    color: #fff;
    transition: 0.5s;
}

#banner button:hover {
    background: #606063;
    transform: translateY(-1px);
}

#sm-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

#sm-banner .banner-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-image: url(/image/b17.jpg);
    min-width: 450px;
    height: 270px;
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 15px;
    border-radius: 10px;

}

#sm-banner .banner-box button {
    margin: 40px 0;
    width: 100px;
    height: 30px;
    font-size: 13px;
    font-weight: 600;
    border: none;
    border-radius: 30px;
    background-color: #088178;
    color: #fff;
    transition: 0.5s;
}

#sm-banner .banner-box button:hover {
    background: #606063;
    transform: translateY(-1px);
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
}

#sm-banner .banner-box2 {
    background-image: url(image/b10.jpg);
}

#banner3 {
    display: flex;
    width: 1080px;
    margin-left: 43px;

}

#banner3 .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(/image/b7.jpg);
    width: 320px;
    height: 35vh;
    background-size: cover;
    background-position: center;
    margin-left: 30px;
    margin-right: 30px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

#banner3 .banner-box2 {
    background-image: url(/image/b4.jpg);
}

#banner3 .banner-box3 {
    background-image: url(/image/b18.jpg);
}

#banner3 h2 {
    color: #fff;
    font-size: 40px;
    font-weight: 900;
}

#banner3 h3 {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}

#newsletter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(18, 18, 59);
    color: #fff;
    margin: 10px 0;
    height: 150px;
    font-size: 20px;
}

.section-p2 {
    padding: 0 50px;
}

.section-m2 {
    margin: 0 50px;
}

#newsletter input {
    width: 300px;
    height: 30px;
    padding: 0 10px;
}

#newsletter button {
    height: 33px;
    background: #1cdbcf;
    border: none;
    padding: 0 10px;
    text-decoration: none;
}

#newsletter button a {
    text-decoration: none;
    color: black;
    font-weight: 700;

}

#newsletter h4 {
    line-height: 40px;
    font-size: 30px;
}

#newsletter .form {
    /* border: 2px solid yellow; */
    display: flex;
    align-items: center;
}

.footer {
    display: flex;
    padding: 50px 40px;
    justify-content: space-around;
}

.footer1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footericon {
    display: flex;
    gap: 11px;
    padding-top: 10px;
}

.footericon a {
    color: #1a1a1a;
}

.footericon i {
    font-size: 25px;
    transition: 0.5s;

}

.footericon i:hover {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.footer2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;
    align-items: start;
}

.footer2 a {
    text-decoration: none;
    color: black;
}

.footer3 {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.install1 {
    border: 2px solid rgb(43, 165, 226);
    width: 140px;
}

.pay1 {
    width: 200px;
}

/* index page close */


@media (max-width:899px) {
    .navbar {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0; 
         right: -300px; 
         width: 800px;
         background-color: #e3e6f3;
         box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
         padding: 80px 0 0 10px;
    
    }
    .navbar li{
        margin-bottom: 25px;
    }
    #mobile{
        display: flex;
        align-items: center;
    }
    
}

 


/* Shop page start */

#page-header {
    background-image: url(/image/b1.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

#page-header h1 {
    color: #fff;
    font-size: 50px;

}

#page-header p {
    color: #9af5f0;
    font-size: 25px;
    font-style: italic;
}

#pagination {
    text-align: center;
    padding: 20px 0;
}

#pagination a {
    text-decoration: none;
    background: #088178;
    padding: 10px 18px;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
}

#pagination a i {
    font-size: 16px;
    font-weight: 800;
}

#prodetails {
    display: flex;
    margin-top: 30px;
    margin-bottom: 60px;
    margin-left: 40px;
}

.single-pro-image {
    width: 35%;
    margin-right: 50px;

}

.small-img-group {
    display: flex;
    justify-content: space-between;
    gap: 10px;

}

.small-img-col {
    flex-basis: 25%;
    cursor: pointer;
}

#prodetails .single-pro-details {
    width: 50%;
    padding-top: 30px;
}

#prodetails .single-pro-details h4 {
    font-size: 30px;
}

#prodetails .single-pro-details h4 {
    font-size: 25px;
    line-height: 80px;

}

#prodetails .single-pro-details h6 {
    font-size: 20px;
}

#prodetails .single-pro-details select {
    display: block;
    padding: 5px 10px;
    margin: 10px 0;
    margin-bottom: 10px;
    width: 120px;

}

#prodetails .single-pro-details select:focus {
    outline: none;
}

#prodetails .single-pro-details input {
    width: 40px;
    height: 37px;
    padding-left: 10px;
    margin-right: 10px;
    font-size: 15px;
}

#prodetails .single-pro-details input:focus {
    outline: none;
}

#prodetails .single-pro-details button {
    background-color: #088178;
    color: #fff;
    border: none;
    height: 37px;
    width: 120px;
}

#prodetails .single-pro-details span {
    line-height: 25px;
    color: #606063;
}

/* shop page close */


/* Blog start */

#page-header.blog-header{
    background-image: url(image/b19.jpg);
}

#blog{
    padding: 5px 100px 0 100px;
    
}
#blog  .blog-box{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-top: 80px;
}

#blog .blog-img{
    width: 50%;
    margin-right: 40px;
}

#blog img{
    width: 90%;
    height: 250px;
    object-fit: cover;
}
#blog .blog-detail{
    width: 40%;
}
#blog .blog-detail a{
    text-decoration: none;
    font-size: 16px;
    color: #000;
    font-weight: 700;
    /* border: 2px solid black; */
    line-height: 50px;
    font-weight: 900;
}

#blog .blog-detail a::after{
    content: "";
    width: 7%;
    height: 1px;
    background: #000;
    position: absolute;
    bottom: 90px;
    left: 76%;
    Transform: translate(-50%, -50%);
}

#blog .blog-box h1{
     position: absolute;
     top: 20px;
     left: 0;
     font-size: 70px;
     font-weight: 900;
     color: #cecbce;
     z-index: -9;

}
